html {
    margin: 0 auto;
    font-size: 20px;
    font-family: sans-serif;

}

article {
    width: 40%;
}

h1 {
    font-style: oblique;
    font-family: cursive;

}

body {
    margin: auto;
    color: black;
}

header {
    margin: 0 auto;
    background-color: #e1bee7;

}

.navigator {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.principal-container {
    margin: auto;
    width: 80%;
    max-width: 750px;
    align-items: center;

    padding: 0.7em;

    /*background-color: gray;*/

}

.navigator ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    display: flex;

}

button {
    
    background-color: #f6e5ef;
    border: none;
    border-radius: 300px;
    font-size: 1.4em;

}

.search {
    border:none;

}

.navigator li {
   margin-left: 1em;

}

.container-flex {
    display: flex;
    justify-content: space-between;

}

.container {
    padding: 1em;
    margin: auto;
    max-width: 750px;
    text-align: justify;
    font-size: 0.9rem;

    

}



.table {
    display: grid;
    grid-template-rows: 3fr;
    border-bottom: black solid 1px;
    cursor: pointer;
}

.table:hover {
    color:#8d24aa; 
 }

span {
    color: blue;
}